<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
       bean-discovery-mode="all">
    <interceptors>
        <class>lt.rokas.uzd1.interceptor.MethodLogger</class>
    </interceptors>
    <!--<alternatives>
        <class>lt.rokas.uzd1.service.FastAverageExpenseGroupCostImpl</class>
    </alternatives>-->
</beans>